<main class="main">
  <section class="select">
    <form class="form" action="#">
      <input type="radio" name="cards-number" id="four" value="4" checked />
      <label for="four">4</label>
      <input type="radio" name="cards-number" id="six" value="6" />
      <label for="six">6</label>
      <input type="radio" name="cards-number" id="eigth" value="8" />
      <label for="eigth">8</label>
      <input type="button" value="Comenzar" id="start-btn" />
    </form>
  </section>
  <section class="cards">
    <ul class="cards__list"></ul>
  </section>
</main>
